body {
    background-color: #39ad58;
}

h1, h2, h3, button {
    color:white;
    text-align: center;
    font-family:Verdana, Tahoma, sans-serif;

}

h1 {
    font-size: 50px;
    margin-top: 20px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 30px;
}

img {
    width: 200px;
    margin:auto;
    padding-bottom: 40px;
}

#foot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

#speed {
    width: 500px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label, p{
    font-family:Verdana, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

li {
    font-family:Verdana, Tahoma, sans-serif;
    font-size: 20px;
}

ul{
    margin-left: 40%;
}

.labelHolder, button{
    text-align: center;
    margin:auto;
}

.labelHolder{
    padding-top: 8%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: black;
    height: 60px;
    width: 200px;
    font-size: 40px;
}

input.checkbox{
    transform: scale(2);
}
